{% extends "base.html" %}

{% block content %}

<div class="row">

  <div class="col-md-6 center">
    <h2 style="margin-bottom: 40px;">Upload an image</h2>

    <form id="upload-form" action="/" method="post" enctype="multipart/form-data">

      <input type="url" name="url" class="col-md-8 col-md-offset-2" placeholder="Enter image URL" id="userInputUrl" >
      <button type='button'  class="btn btn-default" onclick="showInput();" style="padding-bottom: 7px; padding-top: 7px;padding-right: 20px; padding-left: 20px;"><i class="fa fa-check"></i></button>
          
      <div style="padding-top:20px; padding-bottom: 20px">OR</div>

      <div class="fileUpload btn btn-default" style="padding-bottom: 7px; padding-top: 7px;">
        <input type="file" class="upload" name="file" id="userUploadFile" />
      </div>

      <br> <img id="userUploadImage" style="width:200px; height:auto; padding-top: 20px; padding-bottom: 20px" />
      <br> <button type="submit" value="upload image" id="submit" class="btn btn-normal btn-default" style="padding-top: 8px; padding-bottom: 8px">Submit</button>

  </form>
  </div>

  <div class="col-md-5 col-md-offset-1 center">
    <h2>Results</h2>
    <br>
    <p id="searching">Searching...</p>
    <p id="error">Oh no! No results! Check your internet connection.</p>
    <table class="table" id="results-table">
      <thead>
        <tr>
          <th style="text-align: center;">Category</th>
          <th style="text-align: center;">Score</th>
        </tr>
      </thead>
      <tbody id="results">
      </tbody>
    </table>
  </div>

</div>

<br>

<script>
  function showInput() {
      var message_entered =  document.getElementById("userInputUrl").value;
      document.getElementById('userUploadImage').src = message_entered;
      document.getElementById('userUploadImage').style.visibility="visible";
  }

  document.getElementById("userUploadFile").onchange = function () {
      var reader = new FileReader();
      reader.onload = function (e) {
          document.getElementById("userUploadImage").src = e.target.result;
      };
      reader.readAsDataURL(this.files[0]);
  };
</script>

{% endblock %}
